<h1>User Details <button class="addnew" routerLink="/empform">Add New User</button></h1>
<div class="input">
    <input type="text" [(ngModel)]="searchword" placeholder="Search here..." [ngModelOptions]="{standalone:true}"><button
        (click)="search()">Search</button>
</div>
<table *ngIf="filteredempdetarray.length>0;else show">
    <tr>
        <th class="th">Sl.No.</th>
        <th class="th">Name</th>
        <th class="th">User ID</th>
        <th class="th">Username</th>
        <th class="th">Email ID</th>
        <th class="th">Phone Number</th>
        <th class="th" colspan="2">Actions</th>
    </tr>
    <tr *ngFor="let emp of filteredempdetarray; let i = index">
        <td>{{i+1}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.id}}</td>
        <td>{{emp.username}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phone}}</td>
        <td><button [routerLink]="['/empform',emp.id]">Edit</button></td>
        <td><button (click)="delete(emp.id)">Delete</button></td>
    </tr>
</table>
<ng-template #show>
    <h2>No Details Found</h2>
</ng-template>