#whole{
    background-color: rgb(0, 88, 55);
    height: 550px;
    color: white;
    width: 350px;
    align-content: center;
    position: relative;
    left: 38%;
    margin-top: 3.5%;
    border: none;
    border-radius: 50px;
}
div, small, label{
    background-color: rgb(0, 88, 55);
}
.div{
    position: relative;
    padding: 10px;
}
.input{
    border: none;
    color: white;
    border-bottom: 1px solid white;
    background-color: rgb(0, 88, 55);
    margin-left: 25%;
    text-align: center;
    color: white;
}
small{
    margin-left: 5%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h1{
    background-color: rgb(0, 88, 55);
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
button{
    border: 1px solid white;
    padding: 5px;
    width: 150px;
    color: rgb(0, 88, 55);
    border-radius: 10px;
}