<div id="whole">
<h1>Add User</h1>
<form [formGroup]="empdetails">
    <div class="div">
        <input class="input" placeholder="Enter User's Name" formControlName="name">
    </div>
    <div *ngIf="empdetails.get('name').invalid && empdetails.get('name').touched">
        <small *ngIf="empdetails.get('name').errors.required">Name is required.</small>
        <small *ngIf="empdetails.get('name').errors.pattern">Only first letter should be in capital, name should not be in one letter and .</small>
    </div>
    <div class="div">
        <input class="input" placeholder="Enter Username" formControlName="username">
    </div>
    <div *ngIf="empdetails.get('username').invalid && empdetails.get('username').touched">
        <small *ngIf="empdetails.get('username').errors.required">Username is required.</small>
        <small *ngIf="empdetails.get('username').errors.pattern">Username can only contain letters, numbers, and specific special characters (@#-_&.).</small>
        <small *ngIf="empdetails.get('username').errors.usernameexists">Username already exists.</small>
    </div>
    <div class="div">
        <input class="input" placeholder="Enter Email" formControlName="email">
    </div>
    <div *ngIf="empdetails.get('email').invalid && empdetails.get('email').touched">
        <small *ngIf="empdetails.get('email').errors.required">Email ID is required.</small>
        <small *ngIf="empdetails.get('email').errors.pattern">Provide proper email id, [eg.abc@gmail.com].</small>
        <small *ngIf="empdetails.get('email').errors.emailexists">Email already exists.</small>
    </div>
    <div class="div">
        <input class="input" type="number" placeholder="Enter Phone Number" formControlName="phone">
    </div>
    <div *ngIf="empdetails.get('phone').invalid && empdetails.get('phone').touched">
        <small *ngIf="empdetails.get('phone').errors.required">Phone number is required.</small>
        <small *ngIf="empdetails.get('phone').errors.pattern">Enter 10 digit proper phone number.</small>
        <small *ngIf="empdetails.get('phone').errors.phoneexists">Phone no. already exists.</small>
    </div>
    <div class="button">
        <button [disabled]="empdetails.invalid" (click)="add()" *ngIf="!isedit">Add User</button>
        <button (click)="update()" *ngIf="isedit">Update</button>
    </div>
</form>
</div>